<div class="jumbotron" ng-app="personApp">
    <div ng-controller="appController">
        <div ng-init="getData()">
            <h2>
                Search:
            </h2>
            <input type="text" ng-model="search"/>
            <table style="margin-left:auto; margin-right:auto">
                <tr>
                    <th style="cursor:pointer;" ng-click="sortName()">Name</th>
                    <th style="cursor:pointer;" ng-click="sortCity()">City</th>
                    <th style="cursor:pointer;" ng-click="sortOccu()">Occupation</th>
                </tr>
                <tr ng-repeat="d in data | filter:search | orderBy:sortVar">
                    <td>{{d.Name}}</td>
                    <td>{{d.City}}</td>
                    <td>{{d.Occupation}}</td>
                    <td ng-click="delete(d.Id)" style="display: block; background-color: lightgray; cursor:pointer;">Delete</td>
                    <td ng-mouseover="toEdit(d)" style="display: block; cursor:pointer;">@Html.ActionLink("Edit", "Edit", "Home", new { area = "" }, null)</td>
                </tr>
            </table>
        </div>
    </div>
</div>
